USE [BankSystemDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/2/2026 1:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1001,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountType] [nvarchar](20) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/2/2026 1:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[NationalID] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/2/2026 1:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 8/2/2026 1:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[Details] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [CustomerID], [AccountType], [Balance], [IsActive], [CreatedAt]) VALUES (1001, 1, N'Checking', CAST(1850.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-31T21:16:04.700' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [CustomerID], [AccountType], [Balance], [IsActive], [CreatedAt]) VALUES (1002, 2, N'Savings', CAST(700.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-31T21:16:04.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [NationalID], [PhoneNumber], [Email], [CreatedAt]) VALUES (1, N'sara kaled', N'9981029384', N'0791234567', N'sara@example.com', CAST(N'2026-07-31T21:16:04.700' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FullName], [NationalID], [PhoneNumber], [Email], [CreatedAt]) VALUES (2, N' omar abdallah', N'9952019283', N'0788765432', N'omar@example.com', CAST(N'2026-07-31T21:16:04.700' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FullName], [NationalID], [PhoneNumber], [Email], [CreatedAt]) VALUES (4, N'Ahmad Ali', N'5767528324', N'0791234567', N'ahmad_235926@gmail.com', CAST(N'2026-07-31T23:59:28.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (1, N'أحمد المحمود', N'admin_ahmed', N'hashed_pass_123', N'Admin', 1, CAST(N'2026-07-31T21:16:04.690' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (2, N'رغد علي', N'teller_raghad', N'hashed_pass_456', N'Teller', 1, CAST(N'2026-07-31T21:16:04.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [AccountID], [TransactionType], [Amount], [TransactionDate], [Details]) VALUES (1, 1001, N'Deposit', CAST(1500.00 AS Decimal(18, 2)), CAST(N'2026-07-31T21:16:04.700' AS DateTime), N'Direct Cash Deposit')
INSERT [dbo].[Transactions] ([TransactionID], [AccountID], [TransactionType], [Amount], [TransactionDate], [Details]) VALUES (2, 1001, N'Deposit', CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-08-01T23:27:00.130' AS DateTime), N'Direct Cash Deposit')
INSERT [dbo].[Transactions] ([TransactionID], [AccountID], [TransactionType], [Amount], [TransactionDate], [Details]) VALUES (3, 1001, N'Withdrawal', CAST(50.00 AS Decimal(18, 2)), CAST(N'2026-08-01T23:27:00.153' AS DateTime), N'Direct Cash Withdrawal')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105344554AC08]    Script Date: 8/2/2026 1:15:40 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__E9AA321A224C20FC]    Script Date: 8/2/2026 1:15:40 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[NationalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__536C85E44ADC82A9]    Script Date: 8/2/2026 1:15:40 AM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Teller') FOR [Role]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Customers]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Accounts]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([AccountType]='Checking' OR [AccountType]='Savings'))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([Role]='Manager' OR [Role]='Teller' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([TransactionType]='Transfer' OR [TransactionType]='Withdrawal' OR [TransactionType]='Deposit'))
GO
